<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Zakomentujeme globalni konfigurace
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Local nuget server" value="https://localhost:44361/nuget" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="Lokalni disk" value="S:\GitIndSoftMultiSolution02\LocalNugetRepository" />
    -->
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="IndSoft DEV Nuget Server" value="S:\Library\LocalNuGetRepository-Development" />
    <add key="IndSoft MIRROR Nuget Server" value="S:\Library\LocalNuGetRepository-Mirror" />
    <add key="3rd Party Nuget Server" value="s:\Library\LocalNuGetRepository-3Party\" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>